:host {
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top: 50px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button, button {
    width: 100%;
    padding: 0;
}

.logo {
    width: 100px;
    margin: 20px auto;
    display: block;
}

.agreement {
    color: #b2b2b2;
    opacity: 0.5;
    user-select: none;
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: #1976d2 !important;
}